<div class="pb-10 font-sans animate-fade-in">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-3xl font-black tracking-tight">Meus Serviços</h1>
  </div>
  <div class="flex flex-row gap-2 items-start justify-start flex-wrap md:flex-nowrap">
    <div class="p-2 w-full h-full">
      <app-informacao></app-informacao>
    </div>
    @if (contratoService.contratos().length > 1) {
      <div class="w-2/4 h-full p-2 ml-auto">
        <app-contrato></app-contrato>
      </div>
    } 
  </div>
</div>
