<div class="pb-10 font-sans">
  <div class="mb-6">
    <h1 class="text-2xl font-bold tracking-tight text-base-content">Suporte e Contato</h1>
    <p class="text-base-content/60">Canais de atendimento disponíveis para você</p>
  </div>

  <!-- Banner de Dados da Empresa -->
  @if (empresa(); as e) {
    <div class="card bg-base-200/50 mb-8 border border-base-300">
      <div class="card-body p-6 flex-col md:flex-row items-center gap-6 ">
        <div class="w-100">
          <img [src]="e.logoUrl" alt="Logo" class="h-12 w-auto object-contain" />
        </div>
        <div class="flex flex-col">
          <h3 class="text-lg font-black text-base-content">
            {{ e.nomeAmigavelEmpresa }}
          </h3>
          <p class="text-sm font-bold text-base-content/50 uppercase tracking-widest mt-1">
            {{ e.cnpjEmpresa }}
          </p>
        </div>
        <div class="text-center md:text-right md:ml-auto">
          <p class="text-md font-black text-base-content/30 tracking-tighter">Website</p>
          <div class="badge badge-primary font-black uppercase text-xs tracking-widest">
            <a href="https://{{ e.dominio }}" target="_blank" rel="noopener">{{ e.dominio }}</a>
          </div>
        </div>
      </div>
    </div>
  }

  <div class="flex flex-wrap gap-6 justify-center sm:justify-normal">
    @for (sup of suporte; track sup.id) {      
        <!-- Cards de Contato Padrão -->
        <a
          [href]="sup.href"
          target="_blank"
          rel="noopener"
          class="card bg-base-100 shadow hover:shadow-xl hover:-translate-y-1 transition-all duration-300 border border-base-200/60 group"
        >
          <div class="card-body p-6 min-w-[300px]">
            <div class="flex items-center gap-5">
              <div
                class="w-14 h-14 rounded-2xl flex items-center justify-center transition-colors group-hover:bg-opacity-30"
                [style.background-color]="sup.color + '20'"
                [style.color]="sup.color"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  class="w-7 h-7"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" [attr.d]="sup.emoji" />
                </svg>
              </div>

              <div>
                <h3 class="text-lg font-bold text-base-content leading-tight">{{ sup.titulo }}</h3>
                <p class="text-sm font-semibold text-muted mt-0.5">{{ sup.valor }}</p>
              </div>
            </div>
            <p class="text-xs text-base-content/50 font-bold mt-4">{{ sup.descricao }}</p>
          </div>
        </a>
      
    }
    <!-- Speedtest Fixo-->
    <a
      href="https://www.speedtest.net/pt"
      target="_blank"
      rel="noopener"
      class="card bg-base-100 shadow hover:shadow-xl hover:-translate-y-1 transition-all duration-300 border border-base-200/60 group"
    >
      <div class="card-body p-6 min-w-[300px]">
        <div class="flex items-center gap-5">
          <div
            class="w-14 h-14 rounded-2xl flex items-center justify-center transition-all bg-info/10 text-info group-hover:scale-110"
          >
            <!-- <span class="loading loading-spinner loading-md"></span> -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-gauge-icon lucide-gauge"
            >
              <path d="m12 14 4-4" />
              <path d="M3.34 19a10 10 0 1 1 17.32 0" />
            </svg>
          </div>

          <div>
            <h3 class="text-lg font-bold text-base-content leading-tight">Teste de Conexão</h3>
            <p class="text-sm font-semibold text-muted mt-0.5">Abrir SpeedTest</p>
          </div>
        </div>
        <p class="text-xs text-base-content/50 font-bold mt-4">Medir download e upload</p>
      </div>
    </a>
  </div>
</div>
